.card {
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
  width: 40%;
  border: solid 1px white;
}
.container {
  margin: 0 auto;
  background-color: black;
}
.nameInfo {
  display: flex;
  align-items: center;
}
.user_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.name {
  display: flex;
  align-items: center;
}
.nameInfo img {
  max-width: 17px;
  max-height: 17px;
  margin: 0 5px;
}

aside img {
  display: block;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  margin-right: 20px;
}
#postTitle {
  color: rgba(146, 146, 146, 0.677);
  margin: 10px 0 10px;
}
.delete-btn {
  background-color: black;
  border: none;
  cursor: pointer;
}
